/** Smiles for ZippyKid Developed by Sixteenbit */
body { background: #0e556f; }

.site { max-width: 57.14286em; margin-top: 0.57143em; margin-left: auto; margin-right: auto; background: #f9f9f9; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1); border-radius: 5px; }

a { color: #5a8d9f; font-weight: 700; border-bottom: 1px dotted #444; }

.logo { margin-top: 10px; }

.site-header { text-align: center; }
.site-header .site-title { padding: 0.71429em 0; }

.card { text-align: center; }
.card .card-title { text-align: center; }
.card .overall { border-bottom: 1px solid #ccc; margin-bottom: 0.71429em; }
.card .happy-score { background-color: #5da423; text-shadow: 0 2px 0 #360; margin: 20px 0 5px 8px; border-radius: 3px; padding: 5px 10px; font-size: 1.65em; color: #FFF; float: right; font-weight: bold; }
.card .overall-score { font-size: 5.71429em; }

li.rating-text { font-size: 15px; padding-bottom: 0; }

p.quote { font-size: 14px; margin-right: 15px; }

.meter { text-align: center; }
.meter .icon { font-size: 5.14286em; }
.meter label { font-size: 1.57143em; }

div.list-centered { text-align: center; }
div.list-centered ul { margin-bottom: 0; }
div.list-centered ul > li { float: none; display: inline-block; margin-left: 30px; margin-bottom: 0; }
div.list-centered ul > li:first-child { margin-left: 0; }
.gravatar { border-radius: 5px; }
.support-name { width: 75px; }

.hundred { padding: 0 3px 0 0px; }

div.pitch h2 { color: #FFF; }
div.pitch { color: #FFF; }

/* Colors of Happiness */
.icon-smile, .icon-meh, .icon-frown { text-shadow: 0 1px 1px rgba(153, 153, 153, 0.8); }

.icon-smile { color: #5da423; }

.icon-meh { color: #D6D600; }

.icon-frown { color: #9C4446; }

.site-footer { margin-bottom: 3.57143em; }

/* Button Styles */
.button { background-color: #c7433d; border: #96332e; }
a.button:hover { background-color: #DD2F26; }

.footer-links { color: #f9f9f9; }
.footer-links a { color: #f9f9f9; }